---
layout: default
---

<div class="home">
  <div class="page-heading">
    <h2 class="page-title">Jeremy Meiss</h2>
  </div>
  <div class="about">
    <div class="container-face">
      <img class="face" src="{{site.baseurl}}/assets/img/{{ site.pic }}" alt="">
    </div>
    <h2 class="tagline">{{site.tagline}}</h2>
    <div class="about-description">
      <p>{{site.about-description}}</p>
    </div>
    <div class="contact-container">
      <ul class="contact-list">

<!--
        {% if site.email %}
-->
          <li class="email"><a href="mailto:{{site.email}}.com"><i class="fa fa-envelope-o"></i> {{site.email}}</a></li>
<!--
        {% else %}
          <li class="email"><a href="mailto:sheludkoartem@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i> sheludkoartem@gmail.com</a></li>
        {% endif %}
-->

<!--
        {% if site.phone %}
          <li class="phone"><a href="tel:{{site.phone}}"><i class="fa fa-phone"></i> {{site.phone}}</a></li>
        {% else %}
          <li class="phone"><a href="tel:044 825 5523"><i class="fa fa-phone" aria-hidden="true"></i> 044 825 5523</a></li>
        {% endif %}
-->

<!--
        {% if site.website %}
-->
          <li class="website"><a href="http://{{site.website}}" target="_blank"><i class="fa fa-globe"></i> {{site.website}}</a></li>
<!--
        {% else %}
        <li class="website"><a href="http://artemsheludko.pw" target="_blank"><i class="fa fa-globe" aria-hidden="true"></i> artemsheludko.pw</a></li>
        {% endif %}
-->

          <li class="key"><a href="https://keybase.io/{{site.keybase}}" target="_blank"><i class="fa fa-key"></i> keybase.io/{{site.keybase}}</a></li>
          <li class="lock"><a href="https://keybase.io/{{site.keybase}}/pgp_keys.asc" target="_blank"><i class="fa fa-lock" style="padding-right:5px"></i> PGP Public Key</a></li>


<!--
        {% if site.linkedin %}
-->
          <li class="linkedin"><a href="https://in.linkedin.com/in/{{site.linkedin}}" target="_blank"><i class="fa fa-linkedin"></i> {{site.linkedin}}</a></li>
<!--
        {% else %}
        <li class="linkedin"><a href="https://in.linkedin.com/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i> linkedin.com</a></li>
        {% endif %}
-->

          <li class="gitlab"><a href="http://gitlab.com/{{site.github}}" target="_blank"><i class="fa fa-gitlab"></i> gitlab.com/{{site.github}}</a></li>

<!--
        {% if site.github %}
-->
          <li class="github"><a href="http://github.com/{{site.github}}" target="_blank"><i class="fa fa-github"></i> github.com/{{site.github}}</a></li>
<!--
        {% else %}
          <li class="github"><a href="http://github.com/artemsheludko" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> github.com/artemsheludko</a></li>
        {% endif %}
-->

<!--
        {% if site.twitter %}
-->
          <li class="twitter"><a href="https://twitter.com/{{site.twitter}}" target="_blank"><i class="fa fa-twitter"></i> {{site.twitter}}</a></li>
<!--
        {% else %}
          <li class="twitter"><a href="https://twitter.com/artemsheludko_" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i> @artemsheludko_</a></li>
        {% endif %}
-->

          <li class="file"><a href="/assets/misc/Jeremy-Meiss-Resume.pdf" target="_blank"><i class="fa fa-file"></i> Download Resume</a></li>


      </ul>
    </div>
  </div>
</div>
